@{
    ViewBag.Title = "Index";
}

<h2>Html5 Examples</h2>

<ul>
    <li>@Html.ActionLink("New Html5 Input Types", "InputTypes")</li>
    <li>@Html.ActionLink("New Html5 Input Constraints", "Constraints")</li>
    <li>@Html.ActionLink("Polyfill Required", "PolyfillRequired")</li>
    <li>@Html.ActionLink("Polyfill Placeholder", "PolyfillPlaceholder")</li>
</ul>
