@{
    ViewBag.Title = "PolyfillRequired";
}

<h2>Example of Polyfill for Required</h2>

<p>
    Does the browser support required? <strong id="supports-required"></strong>
</p>

<form id="myform">
            
    This field is required: <input type="text" id="txtbox" name="important" required />
            
    <input type="submit" value="Submit!"/>
            
</form>

<p>
    Checking required support in javascript is simple: <em>var hasRequired = 'required' in document.createElement('input');</em>
</p>

<script>
    var hasRequired = 'required' in document.createElement('input');

    $(function () {
        $("#supports-required").html(hasRequired ? "Yes it does!" : "No it doesnt :(");

        $('#myform').submit(function (e) {
            if (!hasRequired) {
                if ($('#txtbox').val() === '') {
                    alert("fill in the box");
                    e.preventDefault();
                }
            }
        });
    });
</script>